[Desktop Entry]
Name=Game Mode
#Exec=gnome-session-quit --no-prompt
Exec=gnome-session-oneshot
Icon=/usr/share/icons/chimeraos/scalable/actions/return-to-game-mode.svg
Terminal=false
Type=Application
StartupNotify=false
